@using OduncKitapAspnetMVCWebSolution_BLL
@model List<Kitaplar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
@{
    //ViewBag.HataMesaji isimli değişken dolu ise hata olmuştur!
    if (!String.IsNullOrEmpty(ViewBag.HataMesaji))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.HataMesaji
        </div>
        <br />
    }
    if (ViewBag.KitapListCount == 0)
    {
        <div class="alert alert-success" role="alert">
            Kitaplar tablosunda kayıt bulunmamaktadır.
        </div>
        <br />
    }
    @Html.ActionLink("YENİ KİTAP EKLE", "Ekle", "Kitap", null
    , new { @class = "btn btn-sm btn-primary", @style = "margin:5px" })

    if (ViewBag.KitapListCount > 0)
    {
        int siraNo = 0;
        if (ViewBag.Suan > 1)
        {
            siraNo += (ViewBag.Suan - 1) * ViewBag.PageSize;
        }
        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th data-defaultsign="_19" style="cursor: pointer">Sıra No &darr;&uarr;</th>
                    <th data-defaultsign="date" style="cursor:pointer">Kayıt Tarihi &darr;&uarr;</th>

                    <th>Resim</th>
                    <th data-defaultsign="AZ" style="cursor:pointer">Kitap Adı &darr;&uarr;</th>
                    <th data-defaultsign="AZ" style="cursor:pointer">Tür &darr;&uarr;</th>
                    <th data-defaultsign="AZ" style="cursor:pointer">Yazar &darr;&uarr;</th>
                    <th>İşlemler</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
        <tr>
            <td class="align-middle"> @(siraNo+=1)</td>
            <td class="align-middle"> @item.KayitTarihi.ToString("dd.MMM.yyyy")</td>

            <td>
                @if (item.ResimLink == null)
                {
                <img src="~/BookImages/defaultbook.jpg" 
                      style="width:65px"/>
                }
                else
                {
                    <img src="@item.ResimLink"
                         style="width:65px" />
                }

            </td>
            <td class="align-middle">@item.KitapAdi</td>

            <td class="align-middle"> @item.Turler.TurAdi</td>
            <td class="align-middle"> @item.Yazarlar.YazarAdi  @item.Yazarlar.YazarSoyadi</td>

            <td class="align-middle">
                @Html.ActionLink("Düzenle", "Duzenle", "Kitap"
               , new { id = item.Id }
               , new
                    {
                        @class = "btn btn-sm btn-warning"
               ,
                        @style = "margin-right:3px"
                    })

                @Html.ActionLink("Sil", "Sil", "Kitap"
             , new { id = item.Id }
             , new
                  {
                      @class = "btn btn-sm btn-danger"
             ,
                      @style = "margin-right:3px"
                  })

            </td>

        </tr>
            }
        </table>
        <br />
        <div class="row">
            <div class="text-center col-4 offset-4">
                <ul class="pagination">
                    <li>
                        <a href="@Url.Action("Index","Kitap"
                                ,new {page=ViewBag.Suan-1 })"
                           id="pageprevious">&laquo;</a>
                    </li>
                    @for (int i = 1; i <= (int)ViewBag.ToplamSayfa; i++)
                    {
                        <li>
                            <a href="@Url.Action("Index","Kitap"
                                ,new {page=i })">
                                @i
                            </a>
                        </li>
                    }

                    <li>
                        <a href="@Url.Action("Index","Kitap"
                                ,new {page=ViewBag.Suan+1 })"
                           id="pagenext">&raquo;</a>
                    </li>
                </ul>

            </div>
        </div>
    }

}


@section scripts{
    <script>
        var suan =@ViewBag.Suan;
        var toplam =@ViewBag.ToplamSayfa;
        if (suan==1) {
            $("#pageprevious").removeAttr("href");
        }
        if (suan==toplam) {
            $("#pagenext").removeAttr("href");
        }
    </script>
}