@using OduncKitapAspnetMVCWebSolution_UI.Models
@model OduncIslemViewModel
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<br />
<div class="form-group col-lg-6 offset-lg-3">

    @using (Html.BeginForm("Ekle", "OduncIslem", FormMethod.Post,
        new
        {
            @class = "form-horizontal"
        }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Kitap:") <br />
            @Html.DropDownListFor(x => x.KitapId
                , (List<SelectListItem>)ViewBag.KitapListesi,
           new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Üye:") <br />
            @Html.DropDownListFor(x => x.UyeId
                , (List<SelectListItem>)ViewBag.UyeListesi,
           new { @class = "form-control" })
        </div>
        //TODO:  Daha güzel bir date picker bulabiliriz.
        <div class="form-group">
            <input type="date" class="form-control"
                   name="OduncAlinmaTarihi"  />
        </div>

        <div class="form-group" align="right">
            <button type="submit" class="btn btn-info">ÖDÜNÇ VER</button>
        </div>

    }


</div>


